#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            bindings = <
                                           &kp Q
                &kp A    &kp B    &kp C    &kp D
                &kp E    &kp F    &kp G    &kp H
                &kp I    &kp J    &kp K    &kp L
                &kp M    &kp N    &kp O    &kp P
            >;
        };
    };
 };

/ {
    behaviors {
        rot_kp: encoder {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base {
            ...
            sensor-bindings = <&rot_kp PG_UP PG_DN>;
        }
    }
};